@import '_variables';
@import '_queries';

.container-banner{
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 500px;
	padding: $gutter;
	margin-bottom: $gutter-primary;
	display: grid;
	grid-gap: $gutter;
	grid-template-columns: 1fr;
	justify-items: center;
	align-items: center;
	background-image: url(../../../imagenes/mascota-banner.jpg);
	background-size: cover;
	background-position: center;
	&:before{
		content: "";
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: inherit;
        background-color: rgba($blue-life, .90);
        @supports not(display: grid){
			 background-color: transparent;
		} 
	}
}
.banner{
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	z-index: 150;
	@supports not(display: grid){
		padding-top: 150px;
	}
}
.banner__title{
	margin-bottom: $gutter-grid;
	font-family: 'Lobster';
	font-size: $header-1+2;
}
.banner__title, .banner__paragraph{
	color: $white-2;
	text-align: center;
}
.banner__paragraph{
	width: 450px;
	font-size: $title-2;
}

.button-call{
	display: inline-block;
	margin-top: $gutter-grid+10;
	padding: 12px $gutter-grid;
	border-radius: 50px;
	font-size: $title-4;
	text-decoration: none;
	color: $white-2;
	background-color: $secundario;
	transition: 1s;
	&:hover{
		background-color: darken($secundario, 7);
	}
	@include querie(mobile){
		padding: 12px $gutter-grid;
	}
}

@media screen and (max-width: 850px){
	.container-banner{
		height: 480px;
	}
	.banner__paragraph{
		width: auto;
	}
}
@media screen and (max-width: 550px){
	//Responsive para el banner
	.banner__title{
		font-weight: normal;
		font-size: $title-1;
	}
	.banner__paragraph{
		font-size: $title-3;
	}	
}
