@mixin querie($version){
	$desktop         : "(max-width: 920px)";
	$tablet          : "(max-width: 850px)";
	$mobile-basic    : "(max-width: 670px)";
	$mobile          : "(max-width: 520px)";
	$mobile-small  	 : "(max-width: 400px)";


	@if $version == "desktop" {
		@media screen and #{$desktop}{
			@content;
		}	
	}
	@else if $version == "tablet"{
		@media screen and #{$tablet}{
			@content;
		}	
	}
	@else if $version == "mobile-basic"{
		@media screen and #{$mobile-basic}{
			@content;
		}	
	}
	@else if $version == "mobile"{
		@media screen and #{$mobile}{
			@content;
		}	
	}
	@else if $version == "mobile-small"{
		@media screen and #{$mobile-small}{
			@content;
		}	
	}
}