$header-1 : 38px;
$header-2 : 33px;
$header-3 : 30px;

$title-1 : 24px;
$title-2 : 18px;
$title-3 : 16px;
$title-4 : 14px;

$p-normal : 20px;
$p-small  : 16px;
$p-smaller: 14px;

$blue-normal: #006dc6;
$blue-life: #0583F2;
$pink: #ff0986;
$white      : rgb(255,255,255);
$white-2    : #fcfcfc;
$gray       : #282d31;
$secundario : #FF2861;

$bg-footer : #282D31;
$text-footer: #797D73;
$border-color    : #DFE0E0;
$radius-default  : 5px;
$fz-logo         : 28px;
$shadow          : 0 10px 10px -10px #DFE0E0;
$text-color      : #53575A;

$gutter: 0 30px;
$gutter-grid   : 30px;
$gutter-primary: 70px;
$gutter-d: 20px; //espacio en pantallas desktop
$gutter-r: 15px; //espacio en pantallas responsive
$padding: 30px;