@import '../partials/_variables';
@import '../partials/_queries';

@mixin padding-tipo-1{
	padding: 0 100px;
	@media screen and (max-width: 950px){
		padding: 0 $gutter-grid;
	}
}

@mixin padding-tipo-2{
	padding: $gutter-primary 200px;
	@media screen and (max-width: 950px){
		padding: $gutter-primary $gutter-grid;
	}
}
