@import '../partials/_variables';
@import '../partials/_queries';

.container-center{
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	width: 100%;
	padding: 0 $gutter-grid;
	margin-bottom: $gutter-primary;
	@include querie(tablet){
		padding: 0 $gutter-r;
	}
}

//.container-center__image{
	//width: 150px;
	//height: 150px;
	//margin-bottom: $gutter-grid;
//}

//.container-center__title{
	//margin-bottom: $gutter-grid;
	//font-family: 'Roboto';
	//font-size: $header-3;
	//text-align: center;
//}
.container-center__paragraph{
	width: 530px;
	font-size: $title-2;
	text-align: center;
	@include querie(tablet){
		width: auto;
	}
	@include querie(mobile){
		font-size: $title-3;
	}
}

//actúa como modificador, en caso de 
//reutilizarlo, removerlo en un archivo a parte u otra solución
.icon--details{
	margin-bottom: $gutter-d;
}